
@media screen and (min-width: 768px) {
    
    .hamburger-menu {
        display: none;
    }
    
    
    nav {
        display: block !important;
    }
    
    
    .temple-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
